{% extends "base.html" %}

{% load static %}


{% block head_title %}
<title>About</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}


{% block body_part_one %}
<!-- slider -->
<section class="head_img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-13">
                <img class="fluid-img" src="{% static 'images/banner2.png' %}" alt="img"/>
            </div>
        </div>
    </div>
</section>
<!-- end slider  -->
{% endblock %}


{% block body_part_two %}
<!-- about  -->
<div id="about" class="about top_layer">
    <div class="container">
        <div class="row">
            <!--row 1-->
            <div class="col-md-6">
                <div class="img-box">
                    <ul>
                        <li>
                            <figure><img src="{% static 'images/about.png' %}" alt="img"/></figure>
                        </li>
                        <li>
                            <figure><img src="{% static 'images/about.png' %}" alt="img"/></figure>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    <h2>Greetings.</h2>
                    <h1>My name is Sayantan Mandal</h1>
                    <span>
                        I' m a software developer, budding-guitarist and a dreamer. Who is trying to make a dent in this world - 
                        copied ;), but lets be honest we all are trying to do this.  
                    </span>
                    <br><br>
                    <span>
                        I' m a software developer, budding-guitarist and a dreamer. Who is trying to make a dent in this world - 
                        copied ;), but lets be honest we all are trying to do this.  
                    </span>
                </div>
            </div>
            <!--row 2-->
            <div class="col-md-6">
                <div class="img-box">
                    <ul>
                        <li>
                            <figure><img src="{% static 'images/about.png' %}" alt="img"/></figure>
                        </li>
                        <li>
                            <figure><img src="{% static 'images/about.png' %}" alt="img"/></figure>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    <h2>Hey, I'm Sayantan</h2>
                    <h1>Let's be in touch !!!</h1>
                    <h1>Let's be in touch !!!</h1>
                    <span>Every organization that moves to the cloud has a unique journey driven by many factors
                        including evolving operating environments and regulatory requirements. For all organizations,
                        including those experiencing growth across regions and dynamic market circumstances, we
                        recommend an open cloud approach that ensures operational and technical consistency across
                        public clouds or private data centers and effective management of infrastructure, applications,
                        and data across the organization.</span>
                </div>
            </div>
            <!--row 3-->
            <div class="col-md-6">
                <div class="img-box">
                    <ul>
                        <li>
                            <figure><img src="{% static 'images/about.png' %}" alt="img"/></figure>
                        </li>
                        <li>
                            <figure><img src="{% static 'images/about.png' %}" alt="img"/></figure>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    <h2>Hey, I'm Sayantan</h2>
                    <h1>Let's be in touch !!!</h1>
                    <h1>Let's be in touch !!!</h1>
                    <span></span>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end abouts -->
{% endblock %}


{% block body_part_three %}

{% endblock %}


{% block body_part_four %}

{% endblock %}


{% block body_part_five %}

{% endblock %}
