{% extends "base.html" %}

{% load static %}


{% block head_title %}
<title>myWorks</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}


{% block body_part_one %}
<!-- slider -->
<section class="head_img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-13">
                <img class="fluid-img" src="{% static 'images/coding_screen_banner.jpg' %}" alt="img"/>
            </div>
        </div>
    </div>
</section>
<!-- end slider  -->
{% endblock %}


{% block body_part_two %}
<!-- about  -->
<div id="contact" class="contact top_layer">
    <div class="container">
        <div class="row">
            <!--row 1-->
            <div class="col-md-6">
                <div class="titlepage">
                    <h3>myWorks</h3>
                    <h3>Thanks for showing your interest in contacting me. Lets get in touch and see how far this can go...</h3>
                    <span>
                        You can reach me at <a href = "mailto: sayantanmandal047@gmail.com">sayantanmandal047@gmail.com </a>
                    </span>
                    <br><br>
                    <!-- add something -->
                    <span>
                        
                    </span>
                    <br><br>
                    <h1><b>Thanks again !!!</b></h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    <div class="img-box">
                        <ul>
                            <li>
                                <figure><img src="{% static 'images/hello_image.jpg' %}" alt="img"/></figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end abouts -->
{% endblock %}


{% block body_part_three %}

{% endblock %}


{% block body_part_four %}

{% endblock %}


{% block body_part_five %}

{% endblock %}
