{% extends "base.html" %}

{% load static %}


{% block head_title %}
<title>myWorks</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}


{% block body_part_one %}
<!-- slider -->
<section class="head_img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-13">
                <img class="fluid-img" src="{% static 'images/coding_screen_banner.jpg' %}" alt="img"/>
            </div>
        </div>
    </div>
</section>
<!-- end slider  -->
{% endblock %}


{% block body_part_two %}
<!-- about  -->
<div id="contact" class="contact top_layer">
    <div class="container">

    </div>
</div>
<!-- end abouts -->
{% endblock %}


{% block body_part_three %}

{% endblock %}


{% block body_part_four %}
<div id="my_works_index" class="contact">
    <div class="container">
        <div class="row">
                <h1>HI</h1>
        </div>
    </div>
</div>
{% endblock %}


{% block body_part_five %}

{% endblock %}
