{% extends "base.html" %}

{% load static %}


{% block head_title %}
<title>myWorks</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}


{% block body_part_one %}
<!-- slider -->
<section class="head_img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-13">
                <img class="fluid-img" src="{% static 'images/coding_screen_banner.jpg' %}" alt="img"/>
            </div>
        </div>
    </div>
</section>
<!-- end slider  -->
{% endblock %}


{% block body_part_two %}
<!-- about  -->
<div id="contact" class="contact top_layer">
    <div class="container">
        <div class="row">
            <!--row 1-->
            <div class="col-md-6">
                <div class="titlepage">
                    <h3>My Works/Portfolio</h3>
                    <span>
                        Experienced Software Engineer with specializing in Python Development for data-engineering, data-analysis and server application in the large-scale enterprises. Worked on technologies like pySpark, scikit-learn, Django.
                    </span>
                    <br><br>
                    <span>
                        Data Engineering, Data Wrangling, ETL jobs, Data Pipeline creation or web development are among few topics, I am working continously to expand it. Currently exploring the world of Data-Science, do not know where it will take.
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    <div class="img-box">
                        <ul>
                            <li>
                                <figure><img src="{% static 'images/working-on-comp.jpg' %}" alt="img"/></figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end abouts -->
{% endblock %}


{% block body_part_three %}
<div id="my_works_index" class="contact">
    <div class="container">
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{% static project.image %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'my_works:project_detail' project.pk %}"
                           class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block body_part_four %}

{% endblock %}


{% block body_part_five %}

{% endblock %}
