{% extends "base.html" %}

{% load static %}


{% block head_title %}
<title>About</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}


{% block body_part_one %}
<!-- slider -->
<section class="head_img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-13">
                <img class="fluid-img" src="{% static 'images/encapsulated-text.jpg' %}" alt="img"/>
            </div>
        </div>
    </div>
</section>
<!-- end slider  -->
{% endblock %}


{% block body_part_two %}
<!-- about  -->
<div id="about" class="about top_layer">
    <div class="container">
        <div class="row">
            <!--row 1-->
            <div class="col-md-6">
                <div class="img-box">
                    <ul>
                        <li>
                            <figure><img src="{% static 'images/namaste.jpg' %}" alt="img"/></figure>
                        </li>
                        <!-- <li>
                            <figure><img src="{% static 'images/think_different_image.jpg' %}" alt="img"/></figure>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    <h2>Namaste</h2>
                    <h1>My name is Sayantan Mandal</h1>
                    <span>
                        I' m a software developer, budding-guitarist and a dreamer. Who is trying to make a dent in this world - 
                        copied ;), but lets be honest we all are trying to do this.  
                    </span>
                    <br><br>
                    <br><br>
                    <span>
                        Having a vision to do something different, something out of box, something that tickles, something that's 
                        more than what meets the eye, something that I am proud of and something that is beneficial to humankind.
                    </span>
                    <br><br>
                    <br><br>
                    <br><br>
                    <h1>The Start</h1>
                    <span>
                        I have started my journey as Junior Engineer in one of the electronics company. Creating automatic 
                        testng equipment in C# with all those CAN protocol and serial comms stuffs. But due no growth in 
                        that industry I decided to move to python. Currently working as Data Engineer.                    
                    </span>
                </div>
            </div>
            <!--row 2-->
            <div class="col-md-6">
                <div class="img-box">
                    <ul>
                        <li>
                            <figure><img src="{% static 'images/think_different_image.jpg' %}" alt="img"/></figure>
                        </li>
                        <!-- <li>
                            <figure><img src="{% static 'images/about.png' %}" alt="img"/></figure>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    <!-- <h2>Hey, I'm Sayantan</h2> -->
                    <h1>The Journey</h1>
                    <span>
                        My sole purpose of creating this site is to keep myself on track and achieve that something that 
                        I always wanted. Inspite of all the huddles now I have a plan and its time to unfold it. This site 
                        is one step towards that something.
                    </span>
                    <br><br>
                    <span>
                        Lets cross our fingers. ;)
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end abouts -->
{% endblock %}


{% block body_part_three %}

{% endblock %}


{% block body_part_four %}

{% endblock %}


{% block body_part_five %}

{% endblock %}
