{% load static %}
<!--  footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-13 col-md-13">
                    <div class="address">
                        <ul class="contant_icon">
                            <li><img src="{% static 'icon/fb.png' %}" alt="icon"/></li>
                            <li><img src="{% static 'icon/tw.png' %}" alt="icon"/></li>
                            <li><img src="{% static 'icon/linkedin.png' %}" alt="icon"/></li>
                            <li><img src="{% static 'icon/instagram.png' %}" alt="icon"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy Copyright 2020 All Right Reserved By <a href="#">Sayantan Mandal</a></p>
        </div>
    </div>
</footer>
<!-- end footer -->