{% extends "base.html" %}

{% load static %}


{% block head_title %}
<title>myRhythm</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
{% endblock %}


{% block body_part_one %}
<!-- slider -->
<section class="head_img">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-13">
                <img class="fluid-img" src="{% static 'images/music-record.jpg' %}" alt="img"/>
            </div>
        </div>
    </div>
</section>
<!-- end slider  -->
{% endblock %}


{% block body_part_two %}
<!-- about  -->
<div id="contact" class="contact top_layer">
    <div class="container">
        <div class="row">
            <!--row 1-->
            <div class="col-md-6">
                <div class="titlepage">
                    <h3>The page is under construction</h3>
                    <span>
                        Sorry for the inconvenience caused
                    </span>
                    <br><br>
                    <!-- add something -->
                    <span>
                        
                    </span>
                    <br><br>
                    <h1><b>Thanks :)</b></h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="titlepage">
                    <div class="img-box">
                        <ul>
                            <li>
                                <figure><img src="{% static 'images/under-construction.png' %}" alt="img"/></figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end abouts -->
{% endblock %}


{% block body_part_three %}

{% endblock %}


{% block body_part_four %}

{% endblock %}


{% block body_part_five %}

{% endblock %}
